<div class="container" ng-controller="GymShowCtrl">
	<div class="media-left">
      <!-- book info -->
      <div class="media-body" >
        <h3 class="media-heading">
          {{gym.name}}
        </h3>
        <h4>
          {{gym.website}}
        </h4>
        <!-- <div ng-controller="GymIndexCtrl">
          <form class='form-group' ng-show="gym.editForm" ng-submit="editGym(gym)">
	          <input  class='form-control' type="text" ng-model="gym.name" placeholder="name">
	          <input  class='form-control' type="text" ng-model="gym.website" placeholder="website">
	          <button type="submit" class='btn btn-primary pull-right'>Update</button>
	        </form>
	      </div> -->
      </div>
   </div>
    <!-- new review form -->
      <div class="row">
        <h3>Add a Review</h3>
      <form class='form-group' ng-submit="createReview()">
           <textarea class="form-control" rows="3" ng-model="newReview.content" required></textarea>
          <strong> Best thing about this box: </strong><br>
          <label>
          <input type="checkbox" ng-model="newReview.programming">
          Programming
          </labelnewReview          <label> 
          <input type="checkbox" ng-model="newReview.community">
          Community
          </label>
          <label> 
          <input type="checkbox" ng-model="newReview.vibe">
          Vibe
          </label>
          <label> 
          <input type="checkbox" ng-model="newReview.schedule">
          Schedule
          </label>
          <label> 
          <input type="checkbox" ng-model="newReview.price">
          Price
          </label>
          <br>
          <button type="submit" class='btn btn-primary pull-right'>Save</button>
      </form>
      <br>
      </div>
      <!-- review show -->
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <ul class='list-unstyled'>
                <li class="list-unstyled" ng-repeat="gym in gyms">
                  <h4 class="panel-title form-inline">
                  {{gym.review.content}}
                  </h4>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
</div>
